/*styles.css*/

/* font styles */
    /* Damion */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
    /* FigTree */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');



/* ----->Top Header<-------*/
h1 {
    background-color:mistyrose;
    font-family: 'Damion', cursive;
    color: rgb(188, 48, 48);
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    font-family: 'Figtree', sans-serif
}

header a{ 
    background-color:rgb(220, 244, 252);
    color: black;
    padding: 1em;
    text-decoration: none;
}

header a:hover{ 
    background-color: teal;
}

/* ------>Main Section<--------- */

/* About Me */
main{
    font-family: 'Figtree', sans-serif;
}

.gradient{
    background: rgb(255,222,222);
    background: linear-gradient(0deg, rgba(255,222,222,1) 0%, rgba(216,245,255,1) 100%);

}

.flowers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5%;
}

.figflowers{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #008080;
    width: 100px;
    margin-top: 5px;
    border-radius: 5%;
    padding:2px

}

/* Hobbies */

th {
    background-color: #ffc6c6;
    color: white;
  }

  tr {
    background-color: rgb(213, 242, 255);
    
  }

  tr td{
    padding: 10px 30px;
  }

.musictable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Music Links */
a {
    color: #E9967A
}

a:hover {
    color: #C71585
  }

/* Goals */

.cat {
    border-radius: 20%;
}

.figcat {
    border: 2px solid #008080;
    width: 160px;
    margin-top: 5px;
    margin-left: 1em;
    border-radius: 0%;
    padding: 2px;
}


/* Line Break hr */
hr {
    border: none;
    background-color: #FFC0CB;
    color: #FFC0CB;
    height: 3px
}

/* Increment Button */
.Even{
    color: pink

}
.Odd{
    color: lightblue;
}

/* Loop */
.even{
    color: red;
}
.odd{
    color: blue;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Footer */
footer {
    margin-top: 2rem;
}





/* extra code for learning don't worry aboout it
table, th, td {
    border:1px solid blueviolet;
}
*/

