/*styles.css*/

/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

/* header stuff*/
h1 {
    background-color:mistyrose;
    font-family: 'Damion', cursive;
    color: rgb(188, 48, 48);
}

header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

header a{ 
    background-color:rgb(220, 244, 252);
    color: black;
    padding: 1em;
    text-decoration: none;
}

header a:hover{ 
    background-color: teal;
}

/* about me section */
section#about{
    
}

.gradient{
    background: rgb(255,222,222);
background: linear-gradient(0deg, rgba(255,222,222,1) 0%, rgba(216,245,255,1) 100%);

}

.flowers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.whiteflowers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



footer {
    margin-top: 2rem;
}



